* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(237, 240, 244);
}

header {
    height: 50px;
    background-color: rgb(35, 156, 103);
}

.ingresar-tarea {
    display: flex;
    gap: 0.5rem;
}

#btnAgregar {
    background-color: rgb(35, 156, 103);
    color: white;
}

.data {
    display: flex;
    justify-content: space-between;
}

th, td {
    padding-right: 50px;
    padding-bottom: 10px;
}

.eliminar {
    color: red;
    border: none;
}

@media (max-width: 768px) {
    .data {
        flex-direction: column;
    }

    th, td {
        padding-right: 30px;
    }
}